site_name: CommandDotNet
site_description: A modern framework for building modern CLI apps
repo_name: 'bilal-fazlani/commanddotnet'
repo_url: 'https://github.com/bilal-fazlani/commanddotnet'

strict: true

nav:
    - Home: index.md
    - Documentation:
      - getting-started.md
      - argument-terminology.md
      - Commands:
        - Commands/commands.md
        - Commands/subcommands.md
      - Arguments:
        - Arguments/arguments.md
        - Collections: Arguments/argument-collections.md
        - Data Types: Arguments/argument-types.md
        - Arguments/passwords.md 
        - Argument Models: Arguments/argument-models.md
        - Arguments/argument-arity.md
        - Arguments/option-or-operand.md
        - Arguments/fluent-validation-for-argument-models.md
        - Arguments/data-annotations-validation.md
      - Argument Values:
        - ArgumentValues/argument-separator.md
        - ArgumentValues/piped-arguments.md
        - ArgumentValues/prompting.md
        - ArgumentValues/response-files.md
        - AppSettings and<br/>Environment Variables: ArgumentValues/default-values-from-config.md
      - Help:
        - Help/help.md
        - Help/typo-suggestions.md
      - Diagnostics:
        - Diagnostics/app-version.md
        - Diagnostics/debug-directive.md
        - Diagnostics/parse-directive.md
        - Diagnostics/time-directive.md
        - Diagnostics/command-logger.md
        - Diagnostics/exceptions.md
      - Localization:
        - Localization/overview.md
        - Localization/testing.md
        - Localization/culture-directive.md
      - Testing:
        - TestTools/overview.md
        - Harness:
          - TestTools/Harness/run-in-mem.md
          - TestTools/Harness/bdd.md
          - TestTools/Harness/test-config.md
          - TestTools/Harness/test-captures.md
          - TestTools/Harness/tips-test-runners.md
        - Tools:
          - TestTools/Tools/testing-middleware.md
          - TestTools/Tools/testing-piped-input.md
          - TestTools/Tools/testing-prompts.md
          - TestTools/Tools/deterministic-appinfo.md
      - Other Features:
        - OtherFeatures/iconsole.md
        - OtherFeatures/default-middleware.md
        - Ctrl+C and<br/>CancellationToken: OtherFeatures/cancellation.md
        - OtherFeatures/dependency-injection.md
        - OtherFeatures/name-casing.md
        - OtherFeatures/spectre.md
        - OtherFeatures/newer-release-alerts.md
      - Extensibility:
        - Extensibility/directives.md
        - Extensibility/parameter-types.md
        - Extensibility/parameter-resolvers.md
        - Extensibility/middleware.md
        - Extensibility/interceptors.md 
        - Extensibility/token-transformations.md
      - Tips & FAQs:
        - TipsFaqs/cli-best-practices.md
        - TipsFaqs/nullable-reference-types.md
        - TipsFaqs/developing-middleware.md
    - Features: 
      - features.md
  
theme:
  features:
    - navigation.tabs
    - nagivation.instant
    - navigation.top
  name: 'material'
  custom_dir: docs/overrides
  icon:
    repo: fontawesome/brands/github
  favicon: 'img/favicon.ico'
  palette:
    - media: "(prefers-color-scheme: light)" 
      scheme: light
      primary: 'black'
      accent: 'teal'  
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: 'black'
      accent: 'teal'  
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  logo: 'img/small-logo.svg'

extra_css:
  - stylesheets/extra.css  

markdown_extensions:
  - md_in_html
  - def_list
  - admonition
  - attr_list
  - codehilite:
      linenums: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.escapeall:
      nbsp: true
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - toc:
     permalink: "#"   

plugins:
  - search

# Customization
extra:
  analytics:
    provider: google
    property: UA-39358317-3
  version: '5'
  legacy: true
  social:
    - icon: fontawesome/brands/github
      link: 'https://github.com/bilal-fazlani'
    - icon: fontawesome/brands/twitter
      link: 'https://twitter.com/bilal_fazlani'
    - icon: fontawesome/brands/linkedin
      link: 'https://www.linkedin.com/in/bilal-fazlani/'