site_name: CommandDotNet
site_description: Model your command line application interface in a class
repo_name: 'bilal-fazlani/commanddotnet'
repo_url: 'https://github.com/bilal-fazlani/commanddotnet'
edit_uri: 'edit/v3/docs/'

nav:
    - Introduction: index.md
    - whats-new-in-v3.md
    - getting-started.md
    - Defining Commands:
      - DefiningCommands/argument-terminology.md
      - DefiningCommands/commands.md
      - DefiningCommands/subcommands.md
      - DefiningCommands/arguments.md
      - DefiningCommands/argument-collections.md
      - DefiningCommands/argument-types.md
      - DefiningCommands/argument-models.md
      - DefiningCommands/argument-arity.md
      - DefiningCommands/option-or-operand.md
      - DefiningCommands/passwords.md
    - Extensibility:
      - Extensibility/help.md
      - Extensibility/parameter-types.md
      - Extensibility/parameter-resolvers.md
      - Extensibility/middleware.md
      - Extensibility/interceptors.md 
      - Extensibility/token-transformations.md
    - Middleware:
      - Middleware/default-middleware.md
      - Middleware/app-version.md
      - Middleware/cancellation.md
      - Middleware/dependency-injection.md
      - Middleware/fluent-validation-for-argument-models.md
      - Middleware/name-casing.md
      - Middleware/piped-arguments.md
      - Middleware/prompting.md
      - Middleware/response-files.md
      - Middleware/newer-release-alerts.md
    - Extras:
      - Extras/directives.md
      - Extras/exceptions.md
    - test-tools.md
theme:
  feature:
    tabs: false
  name: 'material'
  favicon: 'img/favicon.ico'
  palette:
    primary: 'black'
    accent: 'red'  
  logo: 'img/small-logo.svg'

google_analytics:
  - 'UA-39358317-3'
  - 'auto'

markdown_extensions:
  - admonition
  - attr_list
  - codehilite:
      linenums: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - toc:
     permalink: "#"   

plugins:
  - search
  - git-revision-date-localized

# Customization
extra:
  social:
    - type: 'github'
      link: 'https://github.com/bilal-fazlani'
    - type: 'twitter'
      link: 'https://twitter.com/bilal_fazlani'
    - type: 'linkedin'
      link: 'https://www.linkedin.com/in/bilal-fazlani/'
