# Direct dependencies
mkdocs>=1.1
mkdocs-material>=5.0.0rc4
Pygments>=2.6.1
markdown>=3.2.1
pymdown-extensions>=6.3,<7
# mkdocs-git-revision-date-localized-plugin==0.4.6
mkdocs-autolinks-plugin==0.2.0