code span.k {
    color: #8fb7ff !important;
}

code span.nc {
    color: #fc87d7 !important;
}

code span.nf {
    color: #fa763d !important;
}

code span.s {
    color: #45f19b !important;
}

code span.kt {
    color: #00fff5 !important;
}

code span.na {
    color: #d2ce3a !important;
}

code span.err {
    color: #ff497a !important;
}

code span.n {
    color: #dec7be !important;
}

code span.p {
    color: #ed9876 !important;
}

code span.c1, code span.cm {
    color: #8a7f7f !important;
}

code span.nb {
    color: #cda2f9 !important;
}