[data-md-color-scheme=slate] {
  --md-typeset-a-color: #3c8aff !important; 
}

@media screen and (min-width:60em) {
  #features-page {
    display: grid;
    grid-column-gap: 0.5em;
    grid-template-columns: 50% 50%;
  }
}

