.superfences-tabs {
    display: flex;
    position: relative;
    flex-wrap: wrap;
  }
  
  .superfences-tabs .highlight {
    background: #ddd;
  }
  
  .superfences-tabs .superfences-content {
    display: none;
    order: 99;
    width: 100%;
  }
  
  .superfences-tabs label {
    width: auto;
    margin: 0;
    margin-bottom: -1em;
    padding: 0.25em 0.5em;
    cursor: pointer;
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
  }
  
  .superfences-tabs input {
    position: absolute;
    opacity: 0;
  }
  
  .superfences-tabs input:nth-child(n+1) {
    color: #333333;
  }

  .superfences-tabs input:nth-child(n+1):checked + label {
      background-color: #ddd;
      font-weight: bold;
  }

  .superfences-tabs input:nth-child(n+1):hover + label {
    color :#f50057;
}

  .superfences-tabs input:nth-child(n+1):checked + label + .superfences-content {
      display: block;
  }